<div class="container" ng-if="infoCtrl.user">
    <h3>First name: {{ infoCtrl.user.firstname }}</h3>
    <h3>Last name: {{ infoCtrl.user.lastname }}</h3>
    <h3>Email: {{ infoCtrl.user.email }}</h3>
    <h3>Phone number: {{ infoCtrl.user.phone }}</h3>
    <br>
    <div class="clearfix"></div>
    <h3>Favourite Dish: </h3><br>
    <div class="menu-item-tile col-md-6">
    <div class="row">
        <div class="col-sm-5">
          <div class="menu-item-photo">
            <div>{{ infoCtrl.user.favouritedish.short_name }}</div>
            <img class="img-responsive" width="250" height="150" ng-src="{{ infoCtrl.basePath }}/images/{{ infoCtrl.user.favouritedish.short_name }}.jpg" alt="{{ infoCtrl.user.favouritedish.name }}">
          </div>
          <div class="menu-item-price">{{ infoCtrl.user.favouritedish.price_small | currency }}<span> {{ infoCtrl.user.favouritedish.small_portion_name }}</span> {{ infoCtrl.user.favouritedish.price_large | currency }} <span>{{ infoCtrl.user.favouritedish.large_portion_name }}</span></div>
        </div>
        <div class="menu-item-description col-sm-7">
          <h3 class="menu-item-title">{{ infoCtrl.user.favouritedish.name }}</h3>
          <p class="menu-item-details">{{ infoCtrl.user.favouritedish.description }}</p>
        </div>
      </div>
      <hr class="visible-xs">
    </div>
</div>

<div class="container" ng-if="!infoCtrl.user">
    <h3>Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></h3>
</div>
